<div class="container">
    <div class="row">
            <ul class="nav nav-pills">
                <li class="active"><a href="#"><i class="fa fa-home fa-fw"></i>Home</a></li>
                <!-- <li><a href="http://www.jquery2dotnet.com"><i class="fa fa-list-alt fa-fw"></i>Widgets</a></li> -->
                <li><%=link_to "Transakcja",new_deal_path %></li>
                <li><%=link_to "Kontakt",new_person_path %></li>
                <li><%=link_to "Kampania Reklamowa", new_campain_path %></li>
                <li><%=link_to "Social Media", social_media_new_path %></li>
            </ul>
    </div>
</div>